---
import { ClientRouter } from "astro:transitions";
import Analytics from "@vercel/analytics/astro";
import Footer from "../components/base/Footer.astro";
import FooterMobile from "../components/base/FooterMobile.astro";
import Snackbar from "../components/base/Snackbar.astro";
import CookieConsent from "../components/base/cookie-consent/CookieConsent.astro";
import NavBar from "../components/navigation/NavBar.astro";
import ReactNavBar from "../components/navigation/ReactNavBar.astro";

interface Props {
  canonicalUrl: string;
  rootHref?: string;
  navbarVariant?: "react" | "main";
  title?: string;
  description?: string;
  keywords?: string;
}

const {
  canonicalUrl,
  rootHref,
  navbarVariant = "main",
  title = "Smelter: Real-time video compositing software",
  description = "Low-latency video compositing tool with seamless developer experience. Use it for live streaming, broadcasting, video conferencing and more.",
  keywords = "video compositing, react video compositing, compositing software, real time video editing, live video editing, video mixing, live stream mixing",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta data-rh="true" name="keywords" content={keywords} />
    <link
      rel="icon"
      type="image/png"
      href="/favicons/favicon-96x96.png"
      sizes="96x96"
    />
    <link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />
    <link rel="shortcut icon" href="/favicons/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicons/apple-touch-icon.png"
    />
    <meta name="apple-mobile-web-app-title" content="Smelter" />
    <link rel="manifest" href="/favicons/site.webmanifest" />
    <link
      rel="preload"
      href="/fonts/Aeonik-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/Aeonik-Light.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/Aeonik-Medium.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/Aeonik-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/Aeonik-Thin.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <slot name="head" />
    <meta name="generator" content={Astro.generator} />

    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://smelter.dev/" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://smelter.dev/og-image.png" />
    <meta
      property="og:image:alt"
      content="Toolkit for real-time, programmable multimedia mixing."
    />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta name="”twitter:image”" content="https://smelter.dev/og-image.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={canonicalUrl} />

    <title>{title}</title>

    <script type="text/javascript">
      (function (c, l, a, r, i, t, y) {
        c[a] =
          c[a] ||
          function () {
            (c[a].q = c[a].q || []).push(arguments);
          };
        t = l.createElement(r);
        t.async = 1;
        t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0];
        y.parentNode.insertBefore(t, y);
      })(window, document, "clarity", "script", "rr6q6gt4xx");
    </script>

    <ClientRouter />
  </head>
  <body class="bg-mainBackground">
    {
      navbarVariant === "react" ? (
        <ReactNavBar />
      ) : (
        <NavBar rootHref={rootHref} />
      )
    }
    <slot />
    <Footer />
    <FooterMobile />
    <Snackbar
      header="Message sent"
      content="Thank you for your inquiry. We will contact you as soon as possible."
    />
    <Analytics />
    <CookieConsent />
  </body><style is:global>
    @import "../../styles/font-face.scss";
    @import "../../styles/global.scss";
  </style>
</html>
